.Post {
  display: flex;
  margin: 10px auto;
  padding: 10px;
  padding: 20px;
  text-align: center;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid green;
}

.Dat {
  width: 25%;
  background-color: #cda85c;
  outline-color: #fff;
  border-color: #cda85c;
  cursor: default !important;
  margin: 10px;
}

.Content {
  width: 60%;
  box-sizing: border-box;
  border: solid 1px green;
}

.number {
  font-size: 21px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  border-bottom: 2px solid #fff;
  display: block;
}