.Container {
  text-align: center;
  margin-top: -10px;
}

.Background{
  background-color: #01A6DB;
}

.Services {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 0;
  width: 80%;
  height: 50%;
}

.Services h1{
    font-size: 52px;
    color: #ffffff;
    line-height: 1.2em;
    text-align: center;
    font-family: Raleway;
    font-weight: 900;
    font-style: normal
}

.Services h5{
  font-size: 16px;
  color: #ffffff;
  line-height: 14px;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
}

.FlipBox {
  margin:0;
  padding: 0;
  display: flex;
}
