.Container {
    text-align: center
}

.Container h5{
    font-size: 14px;
    color: #01a6db;
    line-height: 14px;
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
  }
  
.Container h1{
    font-size: 52px;
    line-height: 1.2em;
    text-align: center;
    font-family: Raleway;
    font-weight: 900;
    font-style: normal;
}

.Container p{
    color: #5f5f5f;
    font-size: 16px;
    text-align: center;
}

.Mentor img{
    border-radius: 50%;
}