.NavDropDown {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  align-items: center;
  padding: 10px 25px;
  color: #f2f2f2;
}

.DropDown a{
  color: #f2f2f2;
  text-decoration: none;
  width: 100%;
  display: none;
  background-color: black;
  border: 1px solid white;
}

.Dropdown div{
  left: 200px;
  padding: 10px;
}

.NavDropDown:hover .DropDown a{
  display: block;
}
